/*@tailwind base;*/

.absolute {
  position: absolute
}

.left-0 {
  left: 0px
}

.right-\[0\.5\%\] {
  right: 0.5%
}

.top-\[127px\] {
  top: 127px
}

.top-\[52px\] {
  top: 52px
}

.col-start-1 {
  grid-column-start: 1
}

.col-start-10 {
  grid-column-start: 10
}

.col-start-2 {
  grid-column-start: 2
}

.col-start-3 {
  grid-column-start: 3
}

.col-start-4 {
  grid-column-start: 4
}

.col-start-6 {
  grid-column-start: 6
}

.col-start-7 {
  grid-column-start: 7
}

.col-start-8 {
  grid-column-start: 8
}

.col-start-9 {
  grid-column-start: 9
}

.col-end-6 {
  grid-column-end: 6
}

.col-end-9 {
  grid-column-end: 9
}

.row-start-1 {
  grid-row-start: 1
}

.row-start-2 {
  grid-row-start: 2
}

.row-end-3 {
  grid-row-end: 3
}

.m-0 {
  margin: 0px
}

.mb-\[15px\] {
  margin-bottom: 15px
}

.mb-\[17px\] {
  margin-bottom: 17px
}

.mb-\[18px\] {
  margin-bottom: 18px
}

.mb-\[20px\] {
  margin-bottom: 20px
}

.mb-\[30px\] {
  margin-bottom: 30px
}

.mb-\[60px\] {
  margin-bottom: 60px
}

.mb-\[6px\] {
  margin-bottom: 6px
}

.ml-\[12px\] {
  margin-left: 12px
}

.ml-\[5px\] {
  margin-left: 5px
}

.ml-\[65px\] {
  margin-left: 65px
}

.mr-\[10px\] {
  margin-right: 10px
}

.mr-\[12px\] {
  margin-right: 12px
}

.mr-\[13px\] {
  margin-right: 13px
}

.mr-\[14px\] {
  margin-right: 14px
}

.mr-\[21px\] {
  margin-right: 21px
}

.mr-\[5px\] {
  margin-right: 5px
}

.mt-0 {
  margin-top: 0px
}

.mt-\[15px\] {
  margin-top: 15px
}

.mt-\[30px\] {
  margin-top: 30px
}

.mt-\[34px\] {
  margin-top: 34px
}

.mt-\[37px\] {
  margin-top: 37px
}

.mt-\[54px\] {
  margin-top: 54px
}

.mt-\[5px\] {
  margin-top: 5px
}

.mt-\[7px\] {
  margin-top: 7px
}

.box-border {
  box-sizing: border-box
}

.block {
  display: block
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.h-0 {
  height: 0px
}

.h-\[28px\] {
  height: 28px
}

.w-\[1020px\] {
  width: 1020px
}

.w-\[1170px\] {
  width: 1170px
}

.w-\[25\%\] {
  width: 25%
}

.w-\[28px\] {
  width: 28px
}

.w-\[48px\] {
  width: 48px
}

.w-\[50px\] {
  width: 50px
}

.w-\[60px\] {
  width: 60px
}

.w-\[99\%\] {
  width: 99%
}

.w-full {
  width: 100%
}

.max-w-\[1170px\] {
  max-width: 1170px
}

.max-w-\[1220px\] {
  max-width: 1220px
}

.basis-1\/3 {
  flex-basis: 33.333333%
}

.basis-1\/4 {
  flex-basis: 25%
}

.basis-full {
  flex-basis: 100%
}

.cursor-pointer {
  cursor: pointer
}

.list-none {
  list-style-type: none
}

.grid-cols-\[110px_auto_auto_auto_auto_auto_auto_auto_auto_auto\] {
  grid-template-columns: 110px auto auto auto auto auto auto auto auto auto
}

.grid-cols-\[50px_auto_auto_auto\] {
  grid-template-columns: 50px auto auto auto
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr))
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.rounded {
  border-radius: 0.25rem
}

.rounded-\[4px\] {
  border-radius: 4px
}

.border-0 {
  border-width: 0px
}

.border-\[1px\] {
  border-width: 1px
}

.border-b-\[1px\] {
  border-bottom-width: 1px
}

.border-t-\[1px\] {
  border-top-width: 1px
}

.border-solid {
  border-style: solid
}

.border-\[\#adadad\] {
  --tw-border-opacity: 1;
  border-color: rgb(173 173 173 / var(--tw-border-opacity))
}

.border-b-\[\#B6B6B6\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(182 182 182 / var(--tw-border-opacity))
}

.border-t-\[\#B6B6B6\] {
  --tw-border-opacity: 1;
  border-top-color: rgb(182 182 182 / var(--tw-border-opacity))
}

.bg-\[\#ffbc0d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 188 13 / var(--tw-bg-opacity))
}

.bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.from-\[\#FDB90C\] {
  --tw-gradient-from: #FDB90C var(--tw-gradient-from-position);
  --tw-gradient-from-position:  ;
  --tw-gradient-to: rgb(253 185 12 / 0)  var(--tw-gradient-from-position);
  --tw-gradient-to-position:  ;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.to-\[\#DB0008\] {
  --tw-gradient-to: #DB0008 var(--tw-gradient-to-position);
  --tw-gradient-to-position:  
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain
}

.p-0 {
  padding: 0px
}

.pb-\[100px\] {
  padding-bottom: 100px
}

.pb-\[13px\] {
  padding-bottom: 13px
}

.pb-\[16px\] {
  padding-bottom: 16px
}

.pb-\[20px\] {
  padding-bottom: 20px
}

.pb-\[22px\] {
  padding-bottom: 22px
}

.pb-\[27px\] {
  padding-bottom: 27px
}

.pb-\[30px\] {
  padding-bottom: 30px
}

.pb-\[45px\] {
  padding-bottom: 45px
}

.pb-\[46px\] {
  padding-bottom: 46px
}

.pb-\[80px\] {
  padding-bottom: 80px
}

.pb-\[8px\] {
  padding-bottom: 8px
}

.pl-\[10px\] {
  padding-left: 10px
}

.pl-\[12px\] {
  padding-left: 12px
}

.pl-\[15px\] {
  padding-left: 15px
}

.pl-\[20px\] {
  padding-left: 20px
}

.pl-\[25px\] {
  padding-left: 25px
}

.pl-\[65px\] {
  padding-left: 65px
}

.pr-\[12px\] {
  padding-right: 12px
}

.pr-\[15px\] {
  padding-right: 15px
}

.pr-\[20px\] {
  padding-right: 20px
}

.pr-\[25px\] {
  padding-right: 25px
}

.ps-\[10px\] {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px
}

.pt-\[100px\] {
  padding-top: 100px
}

.pt-\[13px\] {
  padding-top: 13px
}

.pt-\[15px\] {
  padding-top: 15px
}

.pt-\[45px\] {
  padding-top: 45px
}

.pt-\[50px\] {
  padding-top: 50px
}

.pt-\[8px\] {
  padding-top: 8px
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.text-\[10px\] {
  font-size: 10px
}

.text-\[12px\] {
  font-size: 12px
}

.text-\[14px\] {
  font-size: 14px
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[17px\] {
  font-size: 17px
}

.text-\[18px\] {
  font-size: 18px
}

.text-\[1pc\] {
  font-size: 1pc
}

.text-\[1rem\] {
  font-size: 1rem
}

.text-\[20px\] {
  font-size: 20px
}

.text-\[22px\] {
  font-size: 22px
}

.text-\[30px\] {
  font-size: 30px
}

.text-\[36px\] {
  font-size: 36px
}

.text-\[9pt\] {
  font-size: 9pt
}

.font-\[200\] {
  font-weight: 200
}

.font-\[400\] {
  font-weight: 400
}

.font-\[450\] {
  font-weight: 450
}

.font-\[500\] {
  font-weight: 500
}

.font-\[700\] {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.leading-\[1rem\] {
  line-height: 1rem
}

.leading-\[22px\] {
  line-height: 22px
}

.text-\[\#006bae\] {
  --tw-text-opacity: 1;
  color: rgb(0 107 174 / var(--tw-text-opacity))
}

.text-\[\#292929\] {
  --tw-text-opacity: 1;
  color: rgb(41 41 41 / var(--tw-text-opacity))
}

.text-\[\#60605b\] {
  --tw-text-opacity: 1;
  color: rgb(96 96 91 / var(--tw-text-opacity))
}

.text-\[\#d90007\] {
  --tw-text-opacity: 1;
  color: rgb(217 0 7 / var(--tw-text-opacity))
}

.text-\[black\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.no-underline {
  text-decoration-line: none
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 1024px) {
  .lg\:float-left {
    float: left
  }

  .lg\:mb-0 {
    margin-bottom: 0px
  }

  .lg\:mb-\[18px\] {
    margin-bottom: 18px
  }

  .lg\:ml-0 {
    margin-left: 0px
  }

  .lg\:mr-0 {
    margin-right: 0px
  }

  .lg\:mr-\[40px\] {
    margin-right: 40px
  }

  .lg\:flex {
    display: flex
  }

  .lg\:grid {
    display: grid
  }

  .lg\:hidden {
    display: none
  }

  .lg\:w-\[33\%\] {
    width: 33%
  }

  .lg\:w-\[67\%\] {
    width: 67%
  }

  .lg\:basis-1\/2 {
    flex-basis: 50%
  }

  .lg\:basis-1\/3 {
    flex-basis: 33.333333%
  }

  .lg\:basis-2\/3 {
    flex-basis: 66.666667%
  }

  .lg\:flex-row {
    flex-direction: row
  }

  .lg\:justify-start {
    justify-content: flex-start
  }

  .lg\:justify-end {
    justify-content: flex-end
  }

  .lg\:justify-between {
    justify-content: space-between
  }

  .lg\:pl-\[15px\] {
    padding-left: 15px
  }

  .lg\:pt-\[100px\] {
    padding-top: 100px
  }

  .lg\:text-\[1pc\] {
    font-size: 1pc
  }
}